@model Student

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ENumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ENumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Register" asp-controller="Course" asp-route-id="@Model!.ENumber">Register Course</a> |
    <a asp-action="Index">Back to Student List</a>
</div>
<h3>Registered Courses</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Course Code
            </th>
            <th>
                Credit Hours
            </th>
            <th>
                Grade
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model.CourseGrades)
            {
                <tr>
                    <td>
                        @item.Course!.Code
                    </td>
                    <td>
                        @item.Course!.CreditHours
                    </td>
                    <td>
                        @item.LetterGrade
                    </td>
                    <td>
                        <a asp-action="assigngrade" asp-controller="StudentCourse"
                            asp-route-id="@Model!.ENumber" asp-route-courseId="@item.CourseId">
                            Assign Grade
                        </a> |
                        <a asp-action="remove" asp-controller="StudentCourse"
                            asp-route-id="@Model!.ENumber" asp-route-courseId="@item.CourseId">
                            Remove Course
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
